
<app-header> </app-header>
<router-outlet>
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="wrapper" *ngIf="menuService.darkMode" [class.dark-mode]="menuService.darkMode">
        <div class="sidebar2">
                <h2>Menu</h2>
            <ul>
                <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/statistics"><i class="fa fa-pie-chart"></i> Statistics</a></li>
                <li><a href="/input"><i class="fa fa-pencil-square-o"></i> Test my password</a></li>
            </ul>  
           
        </div>
        
        </div>
       
    
</router-outlet><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
