.header{
 padding: 5px 20px;
 background: #24527A;
}

.img{
  margin-left: 1300px;
}

.title{
    color: aliceblue;
    text-decoration: none;
}

.btn {
    background-color: rgb(73, 140, 207); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }