<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
    <nav class="navbar">
      <button class="btn" (click)="menuService.toggle()"><i class="fa fa-bars"></i></button>
      <button class="btn" (click)=(onClickHome())><i class="fa fa-home"></i></button>
      <img class="img" src="assets/header.png">
        <!-- logo -->
        
      </nav>
      
</div>