<div class="row">
    <div class="col-sm-6">
        <button class="button-statistics" (click)="onClickStatistics()" type="submit" target="_blank" rel="nofollow noopener">Show statistics</button>
    </div>
    <div class="col-sm-6">
        <button class="button-test" (click)="onClickInput()" type="submit" target="_blank" rel="nofollow noopener">Test my password</button>
    </div>
</div>
 