

.title{
    color: aliceblue;
    text-decoration: none;
}
.row{
    margin-top: 250px;
}
.button-statistics {
	position: absolute;
	top:0;
	bottom: 0;
	left: 500px;
	right: 0px;
  	
	margin: auto;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

    .button-statistics:hover {
        color: #ffffff !important;
        background: #125699;
        border-color: #125699 !important;
        transition: all 0.4s ease 0s;
        }

.button-test {
            color: #494949 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #ffffff;
            padding: 20px;
            margin-bottom: 50px;
            margin-top: 50px;
            border: 4px solid #494949 !important;
            display: inline-block;
            transition: all 0.4s ease 0s;
            }
        
.button-test:hover {
                color: #ffffff !important;
                background: #125699;
                border-color: #125699 !important;
                transition: all 0.4s ease 0s;
                }