<ngx-loading-bar color="#FFFFFF" height="4px"></ngx-loading-bar>

<div class="parent">
    <div class="div1"><h1 class="h3 mb-3 font-weight-normal" >Attack module</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>
    <div class="div2">
        <ejs-chart style='display:block' id='chartcontainer'>
            <e-series-collection>
                <e-series [dataSource]='data' type='Bubble' xName='x' yName='y' size = 'size'> </e-series>    
            </e-series-collection>
            </ejs-chart>
    </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
    <div class="div5"> </div>
    <div class="div6"> </div>
    <div class="div7"> </div>
    <div class="div8"> </div>
    <div class="div9"> </div>
    <div class="div10"> </div>
    </div>
