.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 230px;
    margin-top: 50px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; height: 330px; }
    .div2 { grid-area: 1 / 4 / 2 / 6;}
    .div3 { grid-area: 2 / 1 / 3 / 3; background-color: aqua}
    .div4 { grid-area: 2 / 3 / 3 / 6; background-color: rosybrown; }
    .div5 { grid-area: 3 / 1 / 4 / 4; background-color: chartreuse}
    .div6 { grid-area: 3 / 4 / 4 / 6; background-color: aqua}
    .div7 { grid-area: 4 / 1 / 5 / 3; background-color: rosybrown; }
    .div8 { grid-area: 4 / 3 / 5 / 6; background-color: chartreuse}
    .div9 { grid-area: 5 / 1 / 6 / 4; background-color: aqua}
    .div10 { grid-area: 5 / 4 / 6 / 6; background-color: rosybrown; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  