<ngx-loading-bar color="#FFFFFF" height="4px"></ngx-loading-bar>


<div class="row">
    <div class="col-sm-8">

  
    <h1 class="h3 mb-3 font-weight-normal">Your password: </h1> 
   </div>
   <div class="col-sm-3">
    <button class="button-test" (click)="onDownload()" type="submit" target="_blank" rel="nofollow noopener">Download</button>
   </div>
</div>
