

<!-- include the JavaScript files -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rasterizehtml/1.3.0/rasterizeHTML.allinone.js"></script>

<!--<div id="chart" #chart>
  <canvas id="line-chart" width="800" height="450"></canvas>
</div>-->


<div class="row">
  <div class="col-sm-3">
 

 <div class="form-used">

  <h1 class="h3 mb-3 font-weight-normal">Type password: </h1>
   <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
     <div class="form-group">
       <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Password" required="" autofocus="">
     </div>
     <button class="example_c" type="submit" target="_blank" rel="nofollow noopener">Verify password</button>
 
   </form></div></div>
   <div class="col-sm-6">
     

      <angular2-multiselect [data]="itemList" 
      [(ngModel)]="selectedItems" 
      [settings]="settings" 
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="OnItemDeSelect($event)" 
      (onSelectAll)="onSelectAll($event)" 
      (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
      
      
    </div>


  